# Parameters for ticker

db_db     = mypa
db_host   = localhost
db_user   = mypa
db_passwd = defaultpassword

db_socket = /var/run/mysqld/mysqld.sock
db_port   = 3306

#sql_log = ticker.sql
logfile   = ticker.log

#alt: havoc
#resource  = havoc
resource  = normal
